.layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.wrap {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

a.skippy {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px,1px,1px,1px);
  margin: 1em;
  padding: 0 1em;
  white-space: nowrap;
  background: #fff;
  border: 1px solid #ccc;
  line-height: 2em;
  z-index: 1;
  display: block;
  color: #333;

  &:focus, &:active {
    position: absolute;
    height: auto;
    width: auto;
    overflow: hidden;
    clip: auto;
  }
}
